@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-content {
    @apply font-sans text-center text-medium-gray p-12 bg-gradient-to-r from-white to-pale-gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .gmap-autocomplete {
      @apply w-full mx-auto my-4 px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-xl focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-300;
    }

    .vue-map {
      @apply rounded-xl;
    }

    nav {
      @apply p-2 pb-8 transition-all duration-1000 ease-in-out;
    }

    nav a {
      @apply font-bold text-dark-gray;
    }

    nav a.router-link-exact-active {
      @apply text-highlight-blue;
    }
  }

  .app-content.dark {
    @apply bg-gradient-to-r from-dark-gray to-medium-gray;
    color: white;

    nav a {
      @apply text-white;
    }

    nav a.router-link-exact-active {
      @apply text-highlight-blue;
    }

    .gmap-autocomplete {
      @apply bg-dark-bg border-dim-grey;
    }

    .about {
      @apply bg-dark-gray;
    }

    .about p,
    .about .content-details li,
    .about .additional-info p,
    .about h3 {
      @apply text-white;
    }

    .info-text,
    .info-icon {
      @apply text-white;
    }
  }
}
